/**** Base Styles ****/
* {
  box-sizing: border-box;
}
.container {
  width: 1200px;
  margin: 0 auto;
}
.clear {
  clear: both;
}
body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;

}

/**** Grid Styles ****/

.full-width {
  width: 1200px;
  margin: 0 auto;
}

.half-width {
 width: 600px;
 float: left;
}

.third-width {
width: 400px;
float: left;
}

/**** Header ****/
header {
height: 120px;
margin: auto 5px;
}
header span {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 30px;
  color: #77a466;
  margin-right: 10px;
}

header h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 30px;
  color: #000;
  text-transform: uppercase;

}


/**** Navigation ****/
nav {

width: 600px;
margin-top: 40px;

}
nav ul {
  list-style-type: none;

}

nav ul li {
  float: left;
  padding-left: 25px;
}
nav ul li a {
  display: inline-block;
  text-decoration: none;
  color: #77a466;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
}

/**** Hero Image ****/

#hero img {
  border-top: 3px solid #77a466;
  border-bottom: 3px solid #77a466;
}


/**** Welcome ****/

.welcome {
  margin: 24px 0;
}

.welcome h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  color: #77a466;

}

.welcome p {
  line-height: 25px;
}

/**** Bottom Section ****/
#bottom {

  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  overflow: hidden;
}

.specials {
  width: 375px;
  height: 128px;
  padding-top: 30px;
  padding-right: 100px;

}

.menu {
  list-style: none;
  padding: 0;
}

.menu li {
  color: #77a466;
  padding-bottom: 20px;
}

.reviews {
  width: 400px;
  /* height: 157px; */
  /* padding: 25px 35px; */
  padding: 30px 45px 25px 25px;
  border-left: 1px solid #eeeeee;
	border-right: 1px solid #eeeeee;

}

.contact {
  width: 195px;
  height: 175px;
  padding-top: 30px;
  padding-left: 30px;
}
#bottom h4 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;
}



/**** footer ****/

footer p {
  text-align: center;
  clear: both;
  font-weight: 700;
}

footer .fresh {
  font-family: 'Dancing Script', cursive;
  color: #77a466;


}
